@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 120%;
}

/*DESIGN SYSTEM*/
:root {
    --light-grey: #f1f7fc;
    --light-blue: #11ABEC;
    --blue: #001A25;
    --grey: #636970;
}

h1 {
    font-family: 'Eina03-SemiBold';
    font-size: 22px;
    line-height: 120%;
    color: var(--blue);
    font-weight: 800;
}

h2 {
    font-family: 'Eina03-SemiBold';
    font-size: 14px;
    line-height: 120%;
    color: var(--blue);
    font-weight: 600;
}

.m-green {
    color: #063a06;
    background: #e6ffe7;

}
.m-purple {
    color: #eb5ffd;
    background: #ffe6fd;

      

}
.m-pink {
    color: #FD755F;
    background: #FFECE6;

}
.m-blue {
    color: #11ABEC;
    background: #E0F6FE;   
}
.m-red {
    color: #fd5f5f;
    background: #ffe6e6;
}

.m-none {
    color: #424040;
    background: #dbdada;
}


